.box-wrapper {
  display: none;
}

.box {
  display: flex;
  justify-content: space-between;
  background-color: dodgerblue;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
}